.row {
  display: table;
  width: 100%;
}
.col {
  display: table-cell;
  vertical-align: top;
}
.col-1 {
  width: 8.33%;
}
.col-2 {
  width: 16.66%;
}
.col-3 {
  width: 25%;
}
.col-4 {
  width: 33.33%;
}
.col-5 {
  width: 41.66%;
}
.col-6 {
  width: 50%;
}
.col-7 {
  width: 58.33%;
}
.col-8 {
  width: 66.66%;
}
.col-9 {
  width: 75%;
}
.col-10 {
  width: 83.33%;
}
.col-11 {
  width: 91.66%;
}
.col-12 {
  width: 100%;
}

:root {
  --cor2: rgb(245, 39, 39);
  --cor3: rgb(255, 255, 255);
  --cor4: rgb(0, 0, 0);
}

body {
  background-color: var(--cor4); /* Cor de fundo */
  font-family: Arial, sans-serif; /* Fonte padrão */
  margin: 0; /* Margem zero */
  padding: 0; /* Espaçamento interno */
  color: var(--cor3); /* Cor do texto */
  overflow-x: hidden;
}

.header {
  width: 100%;
}

.header .container {
    background-color: black;
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    box-shadow: 0px 2px 15px rgba(204, 25, 25, 0.1);
}

.branding{
	display: flex;
	align-items: center;
  margin-left: 5%;
}

.header .container .branding a{
  display: flex;
}

.logo{
	margin: 0 auto;
	height: 70px;
}

.gameon{
	font-family: "pc_font", sans-serif; /* Fonte personalizada, em caso de erro sans-serif */
	font-size: 50px;
  color: red;
}

.menu{
  margin-right: 5%;
}

a{
  text-decoration: none;
	color: var(--cor2);
    
}

.menu ul{
	display: flex;
	list-style: none;
  font-family: 'Poppins', sans-serif;
}

.menu li{
	margin-left: 20px;
  margin-right: 6px;
	
}

.menu li:nth-last-child{
	margin-left: 0%;
}

.menu a{
  color: white;
	font-size: 20px;
}

.menu a:hover{
	color: white;
}

.menu i{
  margin-right: 6px;
}

/* Estilos para a secção 1 (banner) */
.banner h1 {
  font-size: 400%; /* Tamanho da fonte */
  font-weight: bold; /* Negrito */
  text-align: center; /* Alinhamento centralizado */
  white-space: nowrap; /* Para que o texto não quebre */
  font-family: "pc_font", sans-serif; /* Fonte personalizada, em caso de erro sans-serif */
}

.anime {
  display: inline-block; /* Para que os elementos fiquem ao lado um do outro */
  font-size: 200%; /* Tamanho da fonte */
}

.anime:not(:first-child) {
  width: 100%; /* Largura total */
}

@keyframes color-change {
  0% {
    color: red;
  } /* Cor inicial */
  25% {
    color: blue;
  } /* Cor aos 25% */
  50% {
    color: green;
  } /* Cor aos 50% */
  75% {
    color: yellow;
  } /* Cor aos 75% */
  100% {
    color: red;
  } /* Cor final */
}

.anime {
  animation: color-change 3s infinite; /* 3 segundos */
}

/* Estilos para a secção CTA */
.cta-section {
  text-align: center; /* Alinhamento centralizado */
  padding: 20px; /* Espaçamento interno */
  color: #fff; /* Texto branco */
  padding-left: 20%; /* Espaçamento laterais */
  padding-right: 20%; /* Espaçamento laterais */
}

.cta-section h2 {
  font-size: 30px; /* Tamanho grande para o título */
  margin-bottom: 10px; /* Espaçamento inferior */
  color: red;
}

.cta-section p {
  font-size: 19px; /* Tamanho moderado para a descrição */
  margin-bottom: 20px; /* Espaçamento inferior */
  color: red;
}

.cta-button {
  display: flex; /* Para que o botão fique ao lado do outro */
  justify-content: left; /* Alinhamento centralizado */
  background-color: red; /* Cor verde para o botão, chamativa */
  color: black; /* Texto preto */
  padding: 10px 80px; /* Espaçamento interno */
  height: 30%; /* Altura do botão */
  width: 30%; /* Largura do botão */
  text-align: center; /* Alinhamento do texto */
  text-decoration: none; /* Remove sublinhado dos links */
  font-size: 18px; /* Tamanho da fonte */
  transition: background-color 0.3s; /* Efeito de transição */
  border: 1px solid #000; /* Borda preta */
  cursor: pointer; /* Cursor ao passar o rato */
}

.cta-button:hover {
  background-color: #eef6ee; /* Cor um pouco mais escura ao passar o rato */
}

/* Estilos para a secção 3 (ps5,nitendo,pc */

/* Fontes */
@font-face {
  font-family: "Font_ps5";
  src: url("Fonts/ps-font/PsBold-2Oy2w.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

.sec_3 {
  padding: 0%; /* Espaçamento interno */
  padding-left: 20%; /* Espaçamento laterais */
  padding-right: 20%; /* Espaçamento laterais */
  margin-top: 1%; /* Espaçamento superior */
}
/* botao para ps5 */
.box_button {
  display: inline-block; /* Para que o botão fique ao lado do outro */
  background-color: blue; /*para o botão, convem ser chamativa */
  color: white; /* Texto branco */
  width: 67%; /* Largura do botão */
  /* height: 30%; /* Altura do botão */
  padding: 20% 14%; /* Espaçamento interno */
  text-decoration: none; /* Remove sublinhado dos links */
  font-size: 18px; /* Tamanho da fonte */
  border-radius: 5px; /* Bordas arredondadas */
  transition: background-color 0.3s; /* Efeito de transição */
  font-family: "Font_ps5", sans-serif; /* Fonte personalizada, em caso de erro sans-serif */
  text-align: center; /* Alinhamento do texto */
  border: 1px solid #000; /* Borda preta */
  cursor: pointer; /* Cursor ao passar o rato */
  outline: none; /* Remove a borda ao clicar */
}

.box_button:hover {
  background-color: rgb(
    11,
    25,
    80
  ); /* Cor um pouco mais escura ao passar o rato */
}
/* botao para nitendo */
/* Fontes */
@font-face {
  font-family: "nintendo_font";
  src: url("Fonts/ro-spritendo-font/RoSpritendoSemiboldBeta-vmVwZ.otf")
    format("opentype");
  font-weight: normal;
  font-style: normal;
}

.box_button_nin {
  display: inline-block; /* Para que o botão fique ao lado do outro */
  background-color: red; /*para o botão, convem ser chamativa */
  color: white; /* Texto branco */
  width: 67%; /* Largura do botão */
  /* height: 30%; /* Altura do botão */
  padding: 20% 14%; /* Espaçamento interno */
  text-decoration: none; /* Remove sublinhado dos links */
  font-size: 18px; /* Tamanho da fonte */
  border-radius: 5px; /* Bordas arredondadas */
  transition: background-color 0.3s; /* Efeito de transição */
  font-family: "nintendo_font", sans-serif; /* Fonte personalizada, em caso de erro sans-serif */
  text-align: center; /* Alinhamento do texto */
  border: 1px solid #000; /* Borda preta */
  cursor: pointer; /* Cursor ao passar o rato */
  outline: none; /* Remove a borda ao clicar */
}

.box_button_nin:hover {
  background-color: rgb(
    110,
    3,
    3
  ); /* Cor um pouco mais escura ao passar o rato */
}
/* botao para pc */
/* Fontes */
@font-face {
  font-family: "pc_font";
  src: url("Fonts/pc-senior-font/PcSeniorRegular-OEnd.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

.box_button_pc {
  display: inline-block; /* Para que o botão fique ao lado do outro */
  background-color: rgb(209, 164, 2); /*para o botão, convem ser chamativa */
  color: white; /* Texto branco */
  width: 67%; /* Largura do botão */
  /* height: 30%; /* Altura do botão */
  padding: 20% 14%; /* Espaçamento interno */
  text-decoration: none; /* Remove sublinhado dos links */
  font-size: 18px; /* Tamanho da fonte */
  border-radius: 5px; /* Bordas arredondadas */
  transition: background-color 0.3s; /* Efeito de transição */
  font-family: "pc_font", sans-serif; /* Fonte personalizada, em caso de erro sans-serif */
  text-align: center; /* Alinhamento do texto */
  border: 1px solid #000; /* Borda preta */
  cursor: pointer; /* Cursor ao passar o rato */
  outline: none; /* Remove a borda ao clicar */
}

.box_button_pc:hover {
  background-color: brown; /* Cor um pouco mais escura ao passar o rato */
}
/* Estilos para a secção 4 (8 produtos) */

.container_games {

  margin-top: 2%; /* Espaçamento superior */
  color: #000; /* Texto preto */
  text-align: center; /* Alinhamento centralizado */
  padding-left: 20%; /* Espaçamento laterais */
  padding-right: 20%; /* Espaçamento laterais */
}

.games_8 {
  background-color: white; /* Cor de fundo */
  padding-top: 3%; /* Espaçamento interno */
  padding-bottom: 3%; /* Espaçamento interno */
  display: flex; /* Para que os elementos fiquem ao lado um do outro */
  justify-content: center; /* Alinhamento centralizado */

}

.espaco_col3 {
  margin-top: 10%; /* Espaçamento superior */
}

.box_button_vermais{
  display: inline-block; /* Para que o botão fique ao lado do outro */
  background-color: red; /*para o botão, convem ser chamativa */
  color: white; /* Texto branco */
  width: 67%; /* Largura do botão */
  /* height: 30%; /* Altura do botão */
  padding: 8% 2%; /* Espaçamento interno */
  text-decoration: none; /* Remove sublinhado dos links */
  font-size: 18px; /* Tamanho da fonte */
  border-radius: 5px; /* Bordas arredondadas */
  transition: background-color 0.3s; /* Efeito de transição */
  text-align: center; /* Alinhamento do texto */
  border: 1px solid #000; /* Borda preta */
  cursor: pointer; /* Cursor ao passar o rato */
  outline: none; /* Remove a borda ao clicar */
}

.box_button_vermais:hover {
  background-color: rgb(79, 0, 0); /* Cor um pouco mais escura ao passar o rato */
}

/* Estilos para a secção 5 contactos mapas e mensagem */
.sec_contactos {
  padding: 0%; /* Espaçamento interno */
  padding-left: 20%; /* Espaçamento laterais */
  padding-right: 20%; /* Espaçamento laterais */
  margin-top: 2%; /* Espaçamento superior */
  text-align: center; /* Alinhamento centralizado */
}

/* Estilos para o mapa */
.mapa {
  width: 100%; /* Largura total */
  height: 400px; /* Altura do mapa */
  margin-top: 2%; /* Espaçamento superior */
}

/* Estilos para o formulário */
.pad_mensagem{
  text-align: center; /* Alinhamento centralizado */

}

.mensagem {
  padding: 1%;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  top: 2%;
}

.mensagem textarea {
  width: 60%;
  height: 60%;
  margin: 5%;
}

.box_button_enviar{
  display: inline-block; /* Para que o botão fique ao lado do outro */
  background-color: red; /*para o botão, convem ser chamativa */
  color: white; /* Texto branco */
  width: 10%; /* Largura do botão */
  /* height: 30%; /* Altura do botão */
  padding: 1% 20%; /* Espaçamento interno */
  text-decoration: none; /* Remove sublinhado dos links */
  font-size: 18px; /* Tamanho da fonte */
  border-radius: 5px; /* Bordas arredondadas */
  transition: background-color 0.3s; /* Efeito de transição */
  text-align: center; /* Alinhamento do texto */
  border: 2px solid #000; /* Borda preta */
  cursor: pointer; /* Cursor ao passar o rato */
  outline: none; /* Remove a borda ao clicar */  
  justify-content: center; /* Alinhamento centralizado */
  
}

.box_button_enviar:hover {
  background-color: rgb(79, 0, 0); /* Cor um pouco mais escura ao passar o rato */
}

/* Estilos para o footer */
footer {
  background-color: rgb(0, 0, 0); /* Cor de fundo */
  color: white; /* Texto branco */
  text-align: center; /* Alinhamento centralizado */
  margin-top: 2%; /* Espaçamento superior */
  padding-left: 20%; /* Espaçamento laterais */
  padding-right: 20%; /* Espaçamento laterais */
}

/* estilos para pagina de produtos */
/* alguns estao a ser usadoas de outras paginas quando é algo igual */


/* Estilos para banner */
.banner_sobre h1 {
  font-size: 500%; /* Tamanho da fonte */
  font-weight: bold; /* Negrito */
  text-align: center; /* Alinhamento centralizado */
  white-space: nowrap; /* Para que o texto não quebre */
  font-family: "pc_font", sans-serif; /* Fonte personalizada, em caso de erro sans-serif */
  justify-content: center; /* Alinhamento centralizado */
  padding-top: 10%; /* Espaçamento superior */
}

.sobre_section{
  margin-top: 2%;
  padding-left: 20%; /* Espaçamento laterais */
  padding-right: 20%; /* Espaçamento laterais */
  margin-bottom: 2%;
}

/* estilos para categorias */

.container_categorias{
  margin-top: 6%; /* Espaçamento superior */
  color: #000; /* Texto preto */
  text-align: center; /* Alinhamento centralizado */
  padding-left: 20%; /* Espaçamento laterais */
  padding-right: 20%; /* Espaçamento laterais */
  margin-bottom: 12%;
}

.categorias_8 {
  padding-top: 3%; /* Espaçamento interno */
  padding-bottom: 3%; /* Espaçamento interno */
  display: flex; /* Para que os elementos fiquem ao lado um do outro */
  justify-content: center; /* Alinhamento centralizado */

}

.box_button_categorias{
  display: inline-block; /* Para que o botão fique ao lado do outro */
  background-color: rgba(255, 0, 0, 0.692); /*para o botão, convem ser chamativa */
  color: white; /* Texto branco */
  width: 77%; /* Largura do botão */
  /* height: 30%; /* Altura do botão */
  padding: 15% 5%; /* Espaçamento interno */
  text-decoration: none; /* Remove sublinhado dos links */
  font-size: 18px; /* Tamanho da fonte */
  border-radius: 5px; /* Bordas arredondadas */
  transition: background-color 0.3s; /* Efeito de transição */
  text-align: center; /* Alinhamento do texto */
  border: 1px solid #000; /* Borda preta */
  cursor: pointer; /* Cursor ao passar o rato */
  outline: none; /* Remove a borda ao clicar */
}

.box_button_categorias:hover {
  background-color: rgb(196, 6, 6); /* Cor um pouco mais escura ao passar o rato */
}

/* estilos login */

.login-page{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
  align-items: center;
}

.login{
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 440px;
  height: 480px;
  padding: 30px;
  margin: 5% auto;
  background-color: rgba(212, 67, 67, 0.279);
  border-radius: 30px;
}

.login-header{
  text-align: center;
  margin: 20px 0 40px 0;
}

.login-header header{
  color: var(--cor1);
  font-size: 40px;
  font-weight: 600;
}

.input .input-field{
  width: 95%;
  height: 60px;
  font-size: 17px;
  padding: 0 0 0 25px;
  margin-bottom: 15px;
  border-radius: 30px;
  border: none;
  box-shadow: 0 5px 10px 1px rgba(0, 0, 0, 0.05);
  outline: none;
  transition: 0.3s;
}

::placeholder{
  font-weight: 500;
  color: #222;
}

.input-field:focus{
  width: 100%;
}

.esquecer{
  display: flex;
  justify-content: space-between;
  margin-bottom: 40px;
}

.esquecer a:hover{
  text-decoration:underline ;
}

.login section{
  align-items: center;
  font-size: 14px;
  color: var(--cor1);
  font-weight: 500;
}

.login section a{
  color: rgb(0, 0, 0);
}
#check{
  margin-right: 10px;
}

.input-submit{
  position: relative;
}

.submit-btn{
  width: 100%;
  height: 60px;
  background: rgba(219,55,55,0.5);
  border: 2px solid rgba(219,55,55,0.8);
  border-radius: 30px;
  cursor: pointer;
  transition: .3s;
}

.submit-btn:hover{
  width: 100%;
  height: 60px;
  background: rgb(219,55,55);
  border: 2px solid rgb(219,55,55);
  border-radius: 30px;
  cursor: pointer;
  transition: .3s;
}

.input-submit label{
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%,-50%);
  -ms-transform: translate(-50%,-50%);
  -webkit-transform: translate(-50%,-50%);
  color: var(--cor1);
  font-size: 1.4rem;
}

/* estilo para produtos */

.segundo{
  margin: 0%;
}

.container_games h1{
  color: white;

}

.produtos_cat{
  margin-bottom: 0%;
}

.paginaproduto_footer{
  margin-bottom: 10%;
}

/* tornar o site adaptativo*/

.menu_mobile{
  display: none;
}
#barras{
  display: none;
}

/*tablet*/
@media only screen and (min-width: 768px) and (max-width: 991px){

}

/*mobile*/
@media only screen and (max-width: 767px)
{
    #barras{
      display: flex;
    }

    #elemento{
      display: block;
      color: white;
  }

  .games_8{
    display: grid;
    justify-content: center;
    width: 100%;
    flex-basis: 100%;
    margin-bottom: 20px;
    text-align: center;
    flex-direction: column;
    flex-wrap: wrap;
  }
  .col{
    justify-content: center;
  }
  .gallery-item{
    display: table-cell;
    
    justify-content: center;
  }
  .gallery-item2{
    display: table-cell;
    
    justify-content: center;
  }
}


