.row{ display: table; width:100%; }
.col{ display: table-cell; vertical-align: top;}
.col-1{ width: 8.33%; }
.col-2{ width: 16.66%;}
.col-3{ width: 25%; }
.col-4{ width: 33.33%; }
.col-5{ width: 41.66%; }
.col-6{ width: 50%; }
.col-7{ width: 58.33%; }
.col-8{ width: 66.66%; }
.col-9{ width: 75%; }
.col-10{ width:83.33%;  }
.col-11{ width: 91.66%; }
.col-12{ width: 100%; }

:root{

    --cor2: rgb(245, 39, 39);
    --cor3: rgb(255, 255, 255);
    --cor4: rgb(0, 0, 0);
}

body{
    background-color: var(--cor4);
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    color: var(--cor3);
}

header{
    padding: 40px 0;
    text-align: center;
}
.nav_menu{
    position: fixed;
    width: 100%;
    top: 0%;
    z-index: 9999;
  }
.nav_menu ul{
    margin: 0;
    padding: 1.5%;    
    list-style: none;
    display: flex;
    justify-content: center;
    list-style-type: none;
}
.nav_menu a{
    padding-left: 40px;
    font-size: 170%;
}
.nav_menu li{
    display: inline-block;
}
.nav_menu li a{
    text-decoration: none;
    color: var(--cor3);
}

.banner h1 {
    font-size: 350%;
    font-weight: bold;
    text-align: center;
    white-space: nowrap;
}

.anime {
    display: inline-block;
    font-size: 200%;
}

.anime:not(:first-child) {
    width: 100%;
}

@keyframes color-change {
    0% { color: red; }
    25% { color: blue; }
    50% { color: green; }
    75% { color: yellow; }
    100% { color: red; }
}

.anime {
    animation: color-change 3s infinite;
}

/* Estilos para a secção CTA */
.cta-section {
  
    text-align: center;
    padding: 20px;
    color: #fff; /* Texto branco */
  }
  
  .cta-section h2 {
    font-size: 24px; /* Tamanho grande para o título */
    margin-bottom: 10px;
  }
  
  .cta-section p {
    font-size: 16px; /* Tamanho moderado para a descrição */
    margin-bottom: 20px;
  }
  
  .cta-button {
    display: inline-block;
    background-color: #4CAF50; /* Cor verde para o botão, chamativa */
    color: black;
    padding: 10px 20px;
    text-decoration: none; /* Remove sublinhado dos links */
    font-size: 18px;
    border-radius: 5px; /* Bordas arredondadas */
    transition: background-color 0.3s;
  }
  
  .cta-button:hover {
    background-color: #45a049; /* Cor um pouco mais escura ao passar o rato */
  }

/* Estilos para a secção 3 (ps5,nitendo,pc */
.ps5_button {
    display: inline-block;
    background-color: red; /* Cor verde para o botão, chamativa */
    color: white;
    padding: 10px 20px;
    text-decoration: none; /* Remove sublinhado dos links */
    font-size: 18px;
    border-radius: 5px; /* Bordas arredondadas */
    transition: background-color 0.3s;
  }
  
  .ps5_button:hover {
    background-color: rgb(110, 3, 3); /* Cor um pouco mais escura ao passar o rato */
  }
