.lobster-regular {
    font-family: "Lobster", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
  body {
    font-family: "Lobster", sans-serif;
    margin: 0;
    padding: 0;
  }
  
  html, body {
    max-width: 100%;
    overflow-x: hidden;
  }
  
  header {
    background-color: red;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .pizza-header {
    margin-left: 12px;
  }
  
  .navbar {
    background-color: red;
    position: relative;
    z-index: 999;
  }
  
  
  .navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background: red;
  }
  
  .navbar li {
    display: inline-block;
  }
  
  .navbar li a {
    color: white;
    display: block;
    padding: 20px 20px;
    text-decoration: none;
  }
  
  .navbar ul ul {
    position: absolute;
    top: 100%;
    display: none;
    right: 0;
  }
  
  .navbar ul ul li {
    display: block;
  }
  
  .navbar li:hover ul {
    display: block;
  }
  
  .navbar ul ul li a:hover {
    background-color: #555;
  }
  
  .menu-icon {
    display: none;
  }
  

  body {
    background-image: url('pizza_images/fundo.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    color: #fff;
  }
  
  .container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    background-color: rgb(255, 255, 255);
  }
  
  .section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 20px;
  }
  
  .col-2 {
    flex-basis: 50%; 
    margin-bottom: 20px;
  }
  
  .col-3 {
    flex-basis: 30%; 
    margin-bottom: 20px;
  }
  
  .pizza {
    width: 100%;
    height: auto;
    border-radius: 10px;
    box-shadow: 0 0 10px rgb(56, 55, 55);
  }
  
  h2 {
    color: #ff4500;
  }
  
  .pizza-info {
    text-align: center;
    margin-top: 10px;
  }
  
  .pizza-type {
    color: #ff0000;
    font-weight: bold;
  }
  
  .pizza-price {
    color: #ff4500;
    font-size: 1.2em;
    margin-bottom: 10px;
  }
  
  .buy-button {
    background-color: #ff4500;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .buy-button:hover {
    background-color: #d13400;
  }
  /*----------------------------------------------------------*/
  
  .footer .container {
    background-color: red;
  }
  
  footer {
    background-color: red;
    color: #FFF;
    padding: 1px 10px 1px 10px;
    display: flex;
    justify-content: space-between;
  
  }